<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Garfielder" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=E:\Camp\Documents\Visual Studio 2010\Projects\garfielder\src\Garfielder\App_Data\GarfielderDB.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>