/* Reset */
.lvLunaSkin table, .lvLunaSkin tbody, .lvLunaSkin a, .lvLunaSkin img, .lvLunaSkin tr, .lvLunaSkin div, .lvLunaSkin td, .lvLunaSkin iframe, .lvLunaSkin span, .lvLunaSkin *, .lvLunaSkin .mceText {
border:0; margin:0; padding:0; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; vertical-align:baseline; width:auto; border-collapse:separate;
}
.lvLunaSkin a:hover, .lvLunaSkin a:link, .lvLunaSkin a:visited, .lvLunaSkin a:active {text-decoration:none; font-weight:normal; cursor:default;}
.lvLunaSkin table td {vertical-align:middle}

/* Containers */
.lvLunaSkin table {}
.lvLunaSkin iframe {display:block;}
.lvLunaSkin .mceToolbar {padding: 2px;}

/* External */
.lvLunaSkin .mceExternalToolbar {position:absolute; border-bottom:0; display:none}
.lvLunaSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.lvLunaSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.lvLunaSkin table.mceToolbar, .lvLunaSkin tr.mceFirst .mceToolbar tr td, .lvLunaSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0}
.lvLunaSkin table.mceLayout {border:0;}
.lvLunaSkin .mceIframeContainer {}
.lvLunaSkin .mceStatusbar {
	display: block;
	font-family: 'MS Sans Serif',sans-serif,Verdana,Arial;
	font-size: 9pt;
	line-height: 16px;
	overflow: visible;
	height: 20px;
	border-top-width: 1px;
	border-top-style: solid;
}
.lvLunaSkin .mceStatusbar div {float:left; padding:2px;}
.lvLunaSkin .mceStatusbar a.mceResize {
	display: block;
	float: right;
	background: url(../../img/icons.gif) -800px 0;
	width: 20px;
	height: 20px;
	cursor: se-resize
}
.lvLunaSkin .mceStatusbar a:hover {text-decoration:underline}
.lvLunaSkin table.mceToolbar {margin: 0 2px 2px;}
.lvLunaSkin #content_toolbar1 {margin-top: 2px;}
.lvLunaSkin .mceToolbar .mceToolbarEndListBox span {display:none}
.lvLunaSkin span.mceIcon, .lvLunaSkin img.mceIcon {display:block; width:20px; height:20px}
.lvLunaSkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}

/* Button */
.lvLunaSkin .mceButton {
	display:block; 
	width: 20px; 
	height: 20px; 
	cursor: default; 
	padding: 1px 2px; 
	margin: 1px; 
	background-image: url(img/butt2.png);
	background-position: left top;
	background-repeat: repeat-x;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.lvLunaSkin a.mceButton span, .lvLunaSkin a.mceButton img {}
.lvLunaSkin .mceOldBoxModel a.mceButton span, .lvLunaSkin .mceOldBoxModel a.mceButton img {margin:0 0 0 1px}
.lvLunaSkin a.mceButtonEnabled:hover {
	background-position:0 -10px;
}
.lvLunaSkin a.mceButtonActive, .lvLunaSkin a.mceButtonSelected {
	background-image: inherit;
}
.lvLunaSkin .mceButtonDisabled .mceIcon {opacity:0.3; filter:alpha(opacity=30);}
.lvLunaSkin .mceButtonDisabled {}

/* Separator */
.lvLunaSkin .mceSeparator { 
	height: 24px; 
	width: 1px;
	display: block;
	background: transparent;
	overflow: hidden; 
	margin: 0 2px; 
}

/* ListBox */
.lvLunaSkin .mceListBox, .lvLunaSkin .mceListBox a {display:block}
.lvLunaSkin .mceListBox .mceText {
	padding: 1px 2px 1px 5px;
	text-align:left; 
	text-decoration: none !important;
	width:70px;  
	background-image: url(img/butt2.png);
	background-position: left top;
	background-repeat: repeat-x;
	font-family: Tahoma,Verdana,Arial,Helvetica; 
	font-size: 11px; 
	height: 20px; 
	line-height: 20px; 
	overflow: hidden;
}
.lvLunaSkin .mceListBox {
	margin: 1px;
	direction: ltr;
}
.lvLunaSkin .mceListBox .mceOpen {
	width: 14px;
	height: 20px; 
	border-collapse: separate;
	background-image: url(img/butt2.png);
	background-position: left top;
	background-repeat: repeat-x;
	padding: 1px;
	border-left: 0 none !important;
}
.lvLunaSkin .mceListBox .mceOpen span {
	display: block;
	width:14px;
	height:20px;
	background-image: url(img/down_arrow.gif);
	background-position: 2px 1px;
	background-repeat: no-repeat;
}
.lvLunaSkin table.mceListBoxEnabled:hover .mceText, 
.lvLunaSkin .mceListBoxHover .mceText, 
.lvLunaSkin .mceListBoxSelected .mceText,
.lvLunaSkin table.mceListBoxEnabled:hover .mceOpen, 
.lvLunaSkin .mceListBoxHover .mceOpen, 
.lvLunaSkin .mceListBoxSelected .mceOpen {
	background-image: none;
}
.lvLunaSkin .mceListBoxDisabled .mceText {color:gray}
.lvLunaSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.lvLunaSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.lvLunaSkin select.mceListBox {font-family:Tahoma,Verdana,Arial,Helvetica; font-size:12px;}

/* SplitButton */
.lvLunaSkin .mceSplitButton a, .lvLunaSkin .mceSplitButton span {display:block; height:20px}
.lvLunaSkin .mceSplitButton { 
	display:block;
	margin: 1px;
	direction: ltr;
}
.lvLunaSkin table.mceSplitButton td {
	padding: 2px;
	background-image: url(img/butt2.png);
	background-position: left top;
	background-repeat: repeat-x;
}
.lvLunaSkin .mceSplitButton a.mceAction {
	height:20px;
	width:20px;
	padding: 1px 2px;
}
.lvLunaSkin .mceSplitButton span.mceAction {
	background: url(../../img/icons.gif) 20px 20px;
	width:20px; 
}
.lvLunaSkin .mceSplitButton a.mceOpen {
	width:10px;
	height:20px;
	background-image: url(img/down_arrow.gif);
	background-position: 1px 2px;
	background-repeat: no-repeat;
	padding: 1px;
	border-left: 0 none !important;
}
.lvLunaSkin .mceSplitButton span.mceOpen {display:none}
.lvLunaSkin .mceSplitButtonDisabled .mceAction {
	opacity:0.3; filter:alpha(opacity=30);
}
.lvLunaSkin .mceListBox a.mceText, .lvLunaSkin .mceSplitButton a.mceAction {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-khtml-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-khtml-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
}
.lvLunaSkin .mceSplitButton a.mceOpen, .lvLunaSkin .mceListBox a.mceOpen {
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-khtml-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	-khtml-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

/* ColorSplitButton */
.lvLunaSkin div.mceColorSplitMenu table {}
.lvLunaSkin .mceColorSplitMenu td {padding:2px}
.lvLunaSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden;}
.lvLunaSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.lvLunaSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px;}
.lvLunaSkin .mceColorSplitMenu a.mceMoreColors:hover {}
.lvLunaSkin a.mceMoreColors:hover {}
.lvLunaSkin .mceColorPreview {margin: -4px 0 0 2px; width:16px; height:4px; overflow:hidden}

/* Menu */
.lvLunaSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000;}
.lvLunaSkin .mceNoIcons span.mceIcon {width:0;}
.lvLunaSkin .mceNoIcons a .mceText {padding-left:10px}
.lvLunaSkin .mceMenu table {}
.lvLunaSkin .mceMenu a, .lvLunaSkin .mceMenu span, .lvLunaSkin .mceMenu {display:block}
.lvLunaSkin .mceMenu td {height:20px;overflow:hidden;}
.lvLunaSkin .mceMenu a {
	position:relative;
	padding:3px 0 4px 0;
	text-decoration: none !important;
}
.lvLunaSkin .mceMenu .mceText {
	position:relative; 
	display:block; 
	font-family:Tahoma,Verdana,Arial,Helvetica; 
	cursor:default; 
	margin:0; 
	padding:0 25px;
}
.lvLunaSkin .mceMenu span.mceText, .lvLunaSkin .mceMenu .mcePreview {font-size:11px}
.lvLunaSkin .mceMenu pre.mceText {font-family:Monospace}
.lvLunaSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.lvLunaSkin .mceMenu .mceMenuItemEnabled a:hover, 
.lvLunaSkin .mceMenu .mceMenuItemActive {}
.lvLunaSkin td.mceMenuItemSeparator {height:1px}
.lvLunaSkin .mceMenuItemTitle a {
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	text-decoration: none !important;
}
.lvLunaSkin .mceMenuItemTitle span.mceText {font-weight:bold; padding-left:4px}
.lvLunaSkin .mceMenuItemDisabled .mceText {}
.lvLunaSkin .mceMenuItemSelected .mceIcon {background:url(../default/img/menu_check.gif)}
.lvLunaSkin .mceNoIcons .mceMenuItemSelected a {background:url(../default/img/menu_arrow.gif) no-repeat -6px center}
.lvLunaSkin .mceMenu span.mceMenuLine {display:none}
.lvLunaSkin .mceMenuItemSub a {background:url(../default/img/menu_arrow.gif) no-repeat top right;}

/* Progress,Resize */
.lvLunaSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; filter:alpha(opacity=50); background:#FFF}
.lvLunaSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(../default/img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}
.lvLunaSkin .mcePlaceHolder {border:1px dotted gray}

/* Formats */
.lvLunaSkin .mce_formatPreview a {font-size:10px}
.lvLunaSkin .mce_p span.mceText {}
.lvLunaSkin .mce_address span.mceText {font-style:italic}
.lvLunaSkin .mce_pre span.mceText {font-family:monospace}
.lvLunaSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.lvLunaSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.lvLunaSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.lvLunaSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.lvLunaSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.lvLunaSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

/* Theme */
.lvLunaSkin span.mce_bold {background-position:0 0}
.lvLunaSkin span.mce_italic {background-position:-60px 0}
.lvLunaSkin span.mce_underline {background-position:-140px 0}
.lvLunaSkin span.mce_strikethrough {background-position:-120px 0}
.lvLunaSkin span.mce_undo {background-position:-160px 0}
.lvLunaSkin span.mce_redo {background-position:-100px 0}
.lvLunaSkin span.mce_cleanup {background-position:-40px 0}
.lvLunaSkin span.mce_bullist {background-position:-20px 0}
.lvLunaSkin span.mce_numlist {background-position:-80px 0}
.lvLunaSkin span.mce_justifyleft {background-position:-460px 0}
.lvLunaSkin span.mce_justifyright {background-position:-480px 0}
.lvLunaSkin span.mce_justifycenter {background-position:-420px 0}
.lvLunaSkin span.mce_justifyfull {background-position:-440px 0}
.lvLunaSkin span.mce_anchor {background-position:-200px 0}
.lvLunaSkin span.mce_indent {background-position:-400px 0}
.lvLunaSkin span.mce_outdent {background-position:-540px 0}
.lvLunaSkin span.mce_link {background-position:-500px 0}
.lvLunaSkin span.mce_unlink {background-position:-640px 0}
.lvLunaSkin span.mce_sub {background-position:-600px 0}
.lvLunaSkin span.mce_sup {background-position:-620px 0}
.lvLunaSkin span.mce_removeformat {background-position:-580px 0}
.lvLunaSkin span.mce_newdocument {background-position:-520px 0}
.lvLunaSkin span.mce_image {background-position:-380px 0}
.lvLunaSkin span.mce_help {background-position:-340px 0}
.lvLunaSkin span.mce_code {background-position:-260px 0}
.lvLunaSkin span.mce_hr {background-position:-360px 0}
.lvLunaSkin span.mce_visualaid {background-position:-660px 0}
.lvLunaSkin span.mce_charmap {background-position:-240px 0}
.lvLunaSkin span.mce_paste {background-position:-560px 0}
.lvLunaSkin span.mce_copy {background-position:-700px 0}
.lvLunaSkin span.mce_cut {background-position:-680px 0}
.lvLunaSkin span.mce_blockquote {background-position:-220px 0}
.lvLunaSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.lvLunaSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.lvLunaSkin .mce_forecolorpicker {background-position:-720px 0}
.lvLunaSkin .mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.lvLunaSkin span.mce_advhr {background-position:-0px -20px}
.lvLunaSkin span.mce_ltr {background-position:-20px -20px}
.lvLunaSkin span.mce_rtl {background-position:-40px -20px}
.lvLunaSkin span.mce_emotions {background-position:-60px -20px}
.lvLunaSkin span.mce_fullpage {background-position:-80px -20px}
.lvLunaSkin span.mce_fullscreen {background-position:-100px -20px}
.lvLunaSkin span.mce_iespell {background-position:-120px -20px}
.lvLunaSkin span.mce_insertdate {background-position:-140px -20px}
.lvLunaSkin span.mce_inserttime {background-position:-160px -20px}
.lvLunaSkin span.mce_absolute {background-position:-180px -20px}
.lvLunaSkin span.mce_backward {background-position:-200px -20px}
.lvLunaSkin span.mce_forward {background-position:-220px -20px}
.lvLunaSkin span.mce_insert_layer {background-position:-240px -20px}
.lvLunaSkin span.mce_insertlayer {background-position:-260px -20px}
.lvLunaSkin span.mce_movebackward {background-position:-280px -20px}
.lvLunaSkin span.mce_moveforward {background-position:-300px -20px}
.lvLunaSkin span.mce_media {background-position:-320px -20px}
.lvLunaSkin span.mce_nonbreaking {background-position:-340px -20px}
.lvLunaSkin span.mce_pastetext {background-position:-360px -20px}
.lvLunaSkin span.mce_pasteword {background-position:-380px -20px}
.lvLunaSkin span.mce_selectall {background-position:-400px -20px}
.lvLunaSkin span.mce_preview {background-position:-420px -20px}
.lvLunaSkin span.mce_print {background-position:-440px -20px}
.lvLunaSkin span.mce_cancel {background-position:-460px -20px}
.lvLunaSkin span.mce_save {background-position:-480px -20px}
.lvLunaSkin span.mce_replace {background-position:-500px -20px}
.lvLunaSkin span.mce_search {background-position:-520px -20px}
.lvLunaSkin span.mce_styleprops {background-position:-560px -20px}
.lvLunaSkin span.mce_table {background-position:-580px -20px}
.lvLunaSkin span.mce_cell_props {background-position:-600px -20px}
.lvLunaSkin span.mce_delete_table {background-position:-620px -20px}
.lvLunaSkin span.mce_delete_col {background-position:-640px -20px}
.lvLunaSkin span.mce_delete_row {background-position:-660px -20px}
.lvLunaSkin span.mce_col_after {background-position:-680px -20px}
.lvLunaSkin span.mce_col_before {background-position:-700px -20px}
.lvLunaSkin span.mce_row_after {background-position:-720px -20px}
.lvLunaSkin span.mce_row_before {background-position:-740px -20px}
.lvLunaSkin span.mce_merge_cells {background-position:-760px -20px}
.lvLunaSkin span.mce_table_props {background-position:-980px -20px}
.lvLunaSkin span.mce_row_props {background-position:-780px -20px}
.lvLunaSkin span.mce_split_cells {background-position:-800px -20px}
.lvLunaSkin span.mce_template {background-position:-820px -20px}
.lvLunaSkin span.mce_visualchars {background-position:-840px -20px}
.lvLunaSkin span.mce_abbr {background-position:-860px -20px}
.lvLunaSkin span.mce_acronym {background-position:-880px -20px}
.lvLunaSkin span.mce_attribs {background-position:-900px -20px}
.lvLunaSkin span.mce_cite {background-position:-920px -20px}
.lvLunaSkin span.mce_del {background-position:-940px -20px}
.lvLunaSkin span.mce_ins {background-position:-960px -20px}
.lvLunaSkin span.mce_pagebreak {background-position:0 -40px}
.lvLunaSkin .mce_spellchecker span.mceAction {background-position:-540px -20px}

/* border */
.lvLunaSkin .mceExternalToolbar, 
.lvLunaSkin .mceButton, 
.lvLunaSkin a.mceButtonEnabled:hover, 
.lvLunaSkin a.mceButtonActive, 
.lvLunaSkin a.mceButtonSelected, 
.lvLunaSkin .mceListBox .mceText, 
.lvLunaSkin .mceListBox .mceOpen, 
.lvLunaSkin table.mceListBoxEnabled:hover .mceText, 
.lvLunaSkin .mceListBoxHover .mceText, 
.lvLunaSkin .mceListBoxSelected .mceText, 
.lvLunaSkin table.mceListBoxEnabled:hover .mceOpen, 
.lvLunaSkin .mceListBoxHover .mceOpen, 
.lvLunaSkin .mceListBoxSelected .mceOpen, 
.lvLunaSkin select.mceListBox, 
.lvLunaSkin .mceSplitButton a.mceAction, 
.lvLunaSkin .mceSplitButton a.mceOpen,
.lvLunaSkin .mceSplitButton a.mceOpen:hover, 
.lvLunaSkin .mceSplitButtonSelected a.mceOpen, 
.lvLunaSkin table.mceSplitButtonEnabled:hover a.mceAction, 
.lvLunaSkin .mceSplitButton a.mceAction:hover, 
.lvLunaSkin div.mceColorSplitMenu table, 
.lvLunaSkin .mceColorSplitMenu a, 
.lvLunaSkin .mceColorSplitMenu a.mceMoreColors, 
.lvLunaSkin .mceColorSplitMenu a.mceMoreColors:hover, 
.lvLunaSkin a.mceMoreColors:hover, 
.lvLunaSkin .mceMenu {
	border-style: solid; 
	border-width: 1px;
}
